<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/temp :: frag_head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="public/temp :: frag_nav"></div>
	<div class="content"
		style="text-align: center; color: red; margin-top: 100px;">
		コンテンツの順番が重複している箇所があります。表示順を正しく入力してください。 <br>
		<a class="btn btn-warning" href="/private/myEyes" role="button"
			style="margin-top: 100px;">表示順設定へ戻る</a>
	</div>



	<div th:replace="public/temp :: frag_footer"></div>
	<div th:replace="public/temp :: frag_script"></div>
</body>
</html>