<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/temp :: frag_head">
<meta charset="UTF-8">
<title>OYE</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="../css/loginForm.css">
</head>
<body>
	<div th:replace="public/temp :: frag_nav"></div>
	<div class="content">
		<form th:action="@{/registration/RegistrationResult}" method="post">
			<div class="control" style="color: #aaf442">
				<label for="newName">新規ユーザー名:<span class="required">半角英数字4文字以上</span></label>
				<input id="newName" type="text" name="newName" required placeholder="新規ユーザー名">
			</div>

			<div class="control" style="color: #aaf442">
				<label for="newPass">新規パスワード:<span class="required">半角英数字4文字以上</span></label>
				<input id="newPass" type="password" name="newPass" required placeholder="新規パスワード">
			</div>
			<div class="control">
				<button type="submit">新規ユーザー登録</button>
			</div>
		</form>
		<a href="/login/login">ログイン画面へ戻る</a>
	</div>
	<footer th:replace="public/temp :: frag_footer"></footer>
	<div th:replace="public/temp :: frag_script"></div>
</body>
</html>