
a.nav-item{
	color: white !important;
	font-size: 18px;
	margin: auto 15px;
}

a.nav-item:hover{
	color: #ff8040 !important;
}

.list-group-item{
	box-shadow: 2px 2px 5px black;
}



