<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="public/temp :: frag_head">

<title>Insert title here</title>
</head>
<body>
	<div th:replace="public/temp :: frag_nav"></div>
	<div class="container">

		<div class="twIcon" style="margin-top: 30px;">
			<img src="../img/Google.png" width="100px" height="50px"
				alt="Googleのロゴ" style="float: left; margin-right: 10px;">
			<p
				style="font-family: fantasy; font-size: 25px; padding-top: 8px; color: #ea4335; font-weight: bold;">Hot検索ワード</p>
		</div>

		<div class="list-group" style="max-width: 400px;">
			<a th:href="@{/external/google(keyword=${googleInfo[0]})}"
				th:text=" | ${googleInfo[0]} |"
				class="list-group-item list-group-item-action list-group-item-warning"
				style="margin: 10px 0 0 30px;"></a> <a
				th:href="@{/external/google(keyword=${googleInfo[1]})}"
				th:text=" | ${googleInfo[1]} |"
				class="list-group-item list-group-item-action list-group-item-secondary"
				style="margin: 10px 0 0 30px;"></a> <a
				th:href="@{/external/google(keyword=${googleInfo[2]})}"
				th:text=" | ${googleInfo[2]} |"
				class="list-group-item list-group-item-action list-group-item-danger"
				style="margin: 10px 0 0 30px;">3位：</a> <a
				th:href="@{/external/google(keyword=${googleInfo[3]})}"
				th:text=" | ${googleInfo[3]} |"
				class="list-group-item list-group-item-action list-group-item-info"
				style="margin: 10px 0 0 30px;">4位：</a> <a
				th:href="@{/external/google(keyword=${googleInfo[4]})}"
				th:text=" | ${googleInfo[4]} |"
				class="list-group-item list-group-item-action list-group-item-success"
				style="margin: 10px 0 50px 30px;">5位：</a>
		</div>



		<div class="twIcon" style="margin-top: 30px;">
			<img src="../img/Twitter.png" width="50px" height="50px"
				alt="Twitterのロゴ" style="float: left; margin-right: 10px;">
			<p
				style="font-family: fantasy; font-size: 25px; padding-top: 8px; color: #55acee; font-weight: bold;">トレンド</p>
		</div>

		<div class="list-group" style="max-width: 400px;">
			<a th:href="@{/external/tw(keyword=${twInfo[0]})}"
				th:text=" | ${twInfo[0]} |"
				class="list-group-item list-group-item-action list-group-item-warning"
				style="margin: 10px 0 0 30px;"></a> <a
				th:href="@{/external/tw(keyword=${twInfo[1]})}"
				th:text=" | ${twInfo[1]} |"
				class="list-group-item list-group-item-action list-group-item-secondary"
				style="margin: 10px 0 0 30px;"></a> <a
				th:href="@{/external/tw(keyword=${twInfo[2]})}"
				th:text=" | ${twInfo[2]} |"
				class="list-group-item list-group-item-action list-group-item-danger"
				style="margin: 10px 0 0 30px;">3位：</a> <a
				th:href="@{/external/tw(keyword=${twInfo[3]})}"
				th:text=" | ${twInfo[3]} |"
				class="list-group-item list-group-item-action list-group-item-info"
				style="margin: 10px 0 0 30px;">4位：</a> <a
				th:href="@{/external/tw(keyword=${twInfo[4]})}"
				th:text=" | ${twInfo[4]} |"
				class="list-group-item list-group-item-action list-group-item-success"
				style="margin: 10px 0 150px 30px;">5位：</a>
		</div>





	</div>


	<div th:replace="public/temp :: frag_footer"></div>
	<div th:replace="public/temp :: frag_script"></div>
</body>
</html>
